* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/IMC/img/image-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.formulário {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.formulário-para-calculadora {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
    font-size: 1rem;
}

input,
button {
    padding: 0.8rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    background-color: #418940;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c2751f;
}


@media (max-width: 600px) {
    .formulário {
        padding: 1.5rem;
    }

    input,
    button {
        font-size: 0.9rem;
    }

    label {
        font-size: 1rem;
    }
}