* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./IMC/img/image-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.tabela {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

th {
    background-color: #9fd1e2;
}

td {
    background-color: #e7fdff;
}

#text-under-table {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}